.btn_selected{

    background: #202020;
    color:white;
    border: 1px solid #000;
    text-align: center;
    font-size: 0.625rem;
    border-radius: 0.3125rem;
    width: 3.0625rem;
    height: 1.1875rem;
    padding: 0px 0px;
    font-family: "Noto Sans KR", sans-serif;
}
.btn_not_selected{

    background: white;
    color:black;
    border: 1px solid #000;
    text-align: center;
    font-size: 0.625rem;
    border-radius: 0.3125rem;
    width: 3.0625rem;
    height: 1.1875rem;
    padding: 0px 0px;
    font-family: "Noto Sans KR", sans-serif;
}