.chat_category{
    width: 100%;
    height: 3.125rem;
    flex-shrink: 0;
    border: 1px solid #C4C4C4;
    background: #FFF;
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01031rem;
    padding-left: 1rem;
    margin:0;
}
.chat_room{
    width: 100%;
    height: 3.125rem;
    border: 1px solid #C4C4C4;
    background: #FFF;
}
.chat_room_partner{
    color: #0788FF;
    font-family: "Noto Sans KR";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01031rem;
    padding-left: 1rem;
}
.chat_room_last_message{
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01031rem;
    padding-left: 1rem;
}
.chat_room_last_message_time{
    color: #C4C4C4;
    font-family: "Noto Sans KR";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01031rem;
    padding-right: 1rem;
}
.chat_room_not_read{
    width: 1rem;
    height: 1rem;
    background: red;
    border-radius: 0.75rem;
    margin-right: 1rem;
}
.chat_room_not_read_count{
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.chat_profile_image{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.chat_partner_id{
    color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans KR";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01031rem;
}
.chat_message_container{
    display: flex;
    padding: 1rem;
}
.chat_partner_message{
    margin:0;
    display: flex;
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01031rem;
    border-radius: 0.3125rem;
    word-break: break-all;
    margin-right: 1rem;
    border: 1px solid rgba(196, 196, 196, 0.20);
    background: #FFF;
    & p{
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & a{
        margin: 1rem;
    }
}
.chat_my_message{
    margin:0;
    display: flex;
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    word-break: break-all;
    margin-right: 1rem;
    line-height: normal;
    letter-spacing: -0.01031rem;
    border-radius: 0.3125rem;
    background: #FFE147;
    & p{
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & a{
        margin: 1rem;
    }
}
.chat_container{
    overflow:auto;
    width:100%;
    height: 100rem;
    border: 1px solid rgba(196, 196, 196, 0.20);
    background: rgba(196, 196, 196, 0.50);

}
.chat_submit_area{
    position:fixed;
    bottom: 0;
    width: 100%;
    background: white;
}
.chat_input{
    width:100%;
    border: 1px solid rgba(196, 196, 196, 0.10);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 4px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01031rem;
}

.chat_submit_button{
    width: 3.75rem;
    height: 1.875rem;
    flex-shrink: 0;
    background: #FFE147;
    color: #000;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: -0.01031rem;
    margin-right: 1rem;
}
.height_align_container{
    align-items: center;
    justify-content: center;
    display: flex;
}