.header{
    display: flex;
    justify-content: center;
    background-color: white;
    position: fixed;
    top: 0; left: 0;
    height: 3.125rem;
    width: 100%;
    border: 1px solid rgba(196, 196, 196, 0.30);
    z-index: 99; 
}
.footer {
    position: fixed;
    bottom: 0; left: 0;
    height: 100px;
    width: 100%;
}
li { margin:100px 0 100px 0;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
.button{
    border: none;
    color: black;
    text-align: center;
    background-color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 13px;
    width: 28vw;
    padding: 1px 3px;
    font-family: "Noto Sans KR", sans-serif;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
  }