.space_title{
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.01031rem;
}
.rent_space_container{
    & p {
        color: #000;
        font-family: "Noto Sans KR";
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.01031rem;
        margin:0;
    }
    .underline{
        text-decoration-line: underline;
    }
    .data_input {
        width: 90vw;
        height: 1.875rem;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        border: 1px solid #D9D9D9;
        background: #FFF;
        margin: 0 1rem 0 1rem;
    }
    .more_info{
        color: #000;
        font-family: "Noto Sans KR";
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.01031rem;
        text-decoration-line: underline;
    }
    .submit_button{
        width: 19.37838rem;
        height: 3.125rem;
        flex-shrink: 0;
        background: #FF4F4F;
        display: flex;
        align-items: center;
        justify-content: center;
        & p {
            color: #FFF;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.375rem; /* 137.5% */
            letter-spacing: -0.0255rem;
        }
    }
}
.price_container{
    & p{
        margin: 1rem 0 1rem 0;
        font-size: 0.8rem;
    }
}

.reservation_button{
    width: 100%;
    height: 3.125rem;
    background: #FF4F4F;
    display: flex;
    align-items: center;
    justify-content: center;
    & p{
        color: #FFF;
        font-family: "Noto Sans KR";
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.375rem; /* 146.667% */
        letter-spacing: -0.0255rem;
    }

}

.overlay_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* 배경색 및 투명도 조절 가능 */
    z-index: 0; /* 다른 요소들 위에 보이도록 z-index 설정 */
    .submit_button{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 3.125rem;
        color: #FFF;
    }
}
.contract{
    text-align: left;
    & p {
        margin:0;
        color: #000;
        font-family: "Noto Sans KR";
        font-size: 0.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.01031rem;
    }
    .title{
        font-family: "Noto Sans KR";
        font-size: 0.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.01031rem;
    }
}
