.button {
    border-width: 3px;
    border-color: lightgrey;
    border-style: solid;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    width: 70vw;
    font-family: "Noto Sans KR", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.margin {
    margin-left: 2vw;
    margin-right: 2vw;
}

.white-space {
    white-space: pre-line;
}

.image {
    width: 6.25rem;
    height: 6.25rem;
    object-fit: cover;
    display: inline-block;
    padding: 0px 0px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid black;

    flex-shrink: 0;
}

.detail {
    border: none;
    background-color: white;
    color: black;
    font-size: 0.625rem;
    font-family: "Noto Sans KR";
    display: flex;
    justify-content: left;
    text-decoration: underline;
}

.input {
    width: 21.875rem;

    height: 1.875rem;
    flex-shrink: 0;
    border: 1px solid #D9D9D9;


}

.inputForRegister {
    width: 21.875rem;
    height: 1.875rem;
    flex-shrink: 0;
    border: 1px solid #D9D9D9;
    background: #FFF;

}

.buttonForRegister {
    width: 7.125rem;
    height: 2.4375rem;
    flex-shrink: 0;
    border: 1px solid #7B7B7B;
    background: #FFF;
    margin-left: 0.94rem;
}

.fontForRegister {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.next_button {
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
    color: white;
    flex: 1;
    border: none;
    width: 50vw;
    height: 8vh;
}

.bottom_button_fixed {
    height: 1.875rem;
    width: 6.875rem;
    border:1px solid #D9D9D9;
    margin-bottom: 2.75rem;
    color: black;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #FFF;
    flex-shrink: 0;
    font-size: 0.625rem;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bottom_button_relative {
    height: 1.875rem;
    width: 6.875rem;
    border:1px solid #D9D9D9;
    margin-bottom: 2.75rem;
    color: black;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #FFF;
    flex-shrink: 0;
    font-size: 0.625rem;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    display: flex;
    justify-content: center;
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label em{
    display: inline-block;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border: 1px solid #7B7B7B;
    border-radius: 50%;
    margin-right: 0.5rem;
    background-color: #FFF;
    cursor: pointer;
}
input[type="checkbox"]:checked + label em{
    background: url(./icons/checkboxcheck.png) no-repeat center center;
    background-color: #000;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label em{
    display: inline-block;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border: 1px solid #7B7B7B;
    border-radius: 50%;
    margin-right: 0.5rem;
    background-color: #FFF;
    cursor: pointer;
}
input[type="radio"]:checked + label em{
    background: url(./icons/checkedellipse.png) no-repeat center center;
    background-color: #000;
}
